<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-text>
    <h1 class="ion-text-center">{{post.title}}</h1>
    <br>
    <p class="ion-text-justify">
      {{post.body}}
    </p>
  </ion-text></ion-content>