<ion-card>
<ion-chip color="primary" mode="ios" outline="true">
  <ion-avatar>
    <img src="assets/avatars/av-1.png" />
  </ion-avatar>
  <ion-label>{{comment.email}}</ion-label>
</ion-chip>
<ion-card-content>
  {{comment.body}}
</ion-card-content>
</ion-card>