<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="newspaper"></ion-icon>
      <ion-label>Post</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="person"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="list"></ion-icon>
      <ion-label>Lista Posts</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
