<ion-header class="ion-no-border" mode="ios" >
  <ion-toolbar >
    <ion-title class="ion-padding">{{title}}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="menuId"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>