<app-navbar title="Login"></app-navbar>

<ion-content>
  <ion-slides class="mainSlide" #slideMain>

    <!-- LOGIN -->
    <ion-slide>
      <form #fLogin="ngForm">
        <ion-grid>
          <ion-row>
            <ion-col>
              <img src="/assets/avatars/av-1.png">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-list>
                <ion-item>
                  <ion-label position="floating">Correo</ion-label>
                  <ion-input name="email" type="email" ></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Contraseña</ion-label>
                  <ion-input name="password" type="password" ></ion-input>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button type="submit" expand="block" color="tertiary" shape="round">
                Login
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button shape="round" expand="block" size="small" fill="outline" color="tertiary"
                (click)="mostrarRegistro()">
                Registrarme
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-slide>

    <!-- REGISTER -->

    <ion-slide>
      <form>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-list>
                <ion-item>
                  <ion-label position="floating">Correo</ion-label>
                  <ion-input name="mail" type="email" ></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Nombre</ion-label>
                  <ion-input name="nombre" type="text" ></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Contraseña</ion-label>
                  <ion-input name="password" type="password" ></ion-input>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button type="submit" expand="block" color="tertiary" shape="round">
                Crear usuario
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button shape="round" expand="block" size="small" fill="outline" color="tertiary"
                (click)="mostarIngresar()">
                Ingresar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-slide>
  </ion-slides>
</ion-content>