<app-navbar title="Lista post"></app-navbar>

<ion-content [fullscreen]="true">
  <!-- Loading animation -->
  <ion-grid *ngIf="loading">
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-spinner name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item *ngFor="let post of posts" detail (click)="openPost(post)">
      <ion-label class="ion-text-center">{{post.title}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>