<ion-split-pane contentId="principal" when="md">

  <ion-menu side="start" menuId="menuId" contentId="principal" #IonMenu>

    <ion-content  class="ion-padding">
      <ion-list>
        <ion-menu-toggle autoHide=false>
         <ion-item routerLink="/tabs/tab1" routerDirecction="root" [class.active-item]="selectedPath==='/tabs/tab1'">
            <ion-icon slot="start" name="newspaper"></ion-icon>
            <ion-label>Posts</ion-label>
          </ion-item>
         <ion-item routerLink="/tabs/tab2" routerDirecction="root" [class.active-item]="selectedPath==='/tabs/tab2'">
            <ion-icon slot="start" name="person"></ion-icon>
            <ion-label>Login</ion-label>
          </ion-item>
         <ion-item routerLink="/tabs/tab3" routerDirecction="root" [class.active-item]="selectedPath==='/tabs/tab3'">
            <ion-icon slot="start" name="list"></ion-icon>
            <ion-label>Lista Posts</ion-label>
          </ion-item>
   
      
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="principal"></ion-router-outlet>

</ion-split-pane>