<!-- <app-post *ngFor="let post of post" [post]="post"></app-post> -->

<ion-grid fixed>
    <ion-row>
        <ion-col size-lg="3" size-md="6" size-sm="12" size-xs="12" *ngFor="let post of posts">
            <app-post [post]="post"></app-post>
        </ion-col>
    </ion-row>
</ion-grid>
