 
<ion-card color="light">
  <ion-card-header>
    <ion-card-subtitle>
      <span class="text-primary">Post: {{post.id}}. </span>
      <span class="noticia-source-name">Usuario: {{post.userId}}</span>
    </ion-card-subtitle>
    <ion-card-title (click)="openPost()">{{post.title}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>{{post.body}}</p>
  </ion-card-content>
  <ion-item lines="none">
  <ion-buttons slot="end">
    <ion-button (click)="openPost()">
      <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
    </ion-button>
    <ion-button (click)="showComments()">
      <ion-icon slot="icon-only" name="chatbox-ellipses-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-item>
</ion-card>